body {
  background-color: #222;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #333;
    color: orange;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.main-container {
    display: flex;
}
.center-text{
    text-align:center;
    margin-left:250px; /*This line of code is making the menukort to the middel*/
    width: 70%;
    color: orange;
    font-size: 30px;
    padding: 2px;
}

/* The code for adjusting the sidebar */
.sidebar {
    background-color: black;
    color: orange;
    padding: 18px;
    width: 150px;
    height: 40vh;
    position: fixed;
    z-index: 1;
   left: 50%;
    top: 54%;
    transform: translate(-220%,-50%);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
}
/*The code for adjusting the pizza submenu*/
.pizza-submenu {
    list-style-type: none;
    padding: 0;
    margin-left: 10px; /* Adjusted margin to create space inside the black box */
    text-align: left;
}

.pizza-submenu li {
    margin-bottom: 5px;
    cursor: pointer;
}
.pizza-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.pizza-list li{
    margin-bottom: 10px;
    cursor: pointer;
}
.pizza-list li p:first-child{
    font-size: 14px;
    font-weight: bold;
    padding: -4px;
    color: white;
    transform: translate(-12%,-30%);
    cursor: pointer;
}

.pizza-list li p:last-child{
    font-size: 13px;
    font-weight: bold;
    color: black;
    padding: -10px;
    transform: translate(-12%,-400%);
    cursor: pointer;
}

.content {
    margin-left: 220px;
    margin-top: 60px;
    padding: 20px;
}

