body {
    background-color: black !important;
    color: #fff !important;
    transition: background-color 0.5s ease !important;
    border: 1px solid orange !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100vh !important;
}

.dish-popup {
    position: fixed;
    display: none;
    max-width: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #000;
    z-index: 999; /* Ensure the popup is above other elements */
}

.dish-image {
    max-width: 100%;
    max-height: 150px;
}

.dish-row {
    transition: transform 0.2s;
    color: white;
}

.dish-row:hover {
    cursor: pointer;
    background-color: orange;
    transform: scale(1.05);
    color: #1a1a1a;
}

.remove-icon {
    max-width: 20px;
    cursor: pointer;
}

.container {
    background-color: black;
    padding: 15px;
}

.list-group-item a {
    color: white;
}

.list-group-item {
    background-color: black;
    border: 1px solid orange;
}

.btn-orange {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    color: #fff;
    background-color: darkorange;
    border-color: darkorange;
}

.col-md-3 {
    outline: 8px ridge orange;
    border-radius: 2rem;
    margin-top: 100px;

    overflow: auto;
}

.col-md-3.sidebar {
    position: fixed;
    margin-left: 5%;
    margin-top: 5%;
    height: 100vh;
    width: 15%;
    overflow-y: auto;
}

.col-md-3.sidebar ul {
    position: sticky;

}


.col-md-6 {
    margin-left: 15%;
    height: 100vh;
    overflow-y: auto;
}
.col-md-3{
    outline: 8px ridge orange;
    border-radius: 2rem;
    margin-top: 100px;
    width: 300px;
    max-height: 600px;
}

.col-md-3.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    max-height: 100vh; /* Set maximum height to viewport height */
}

.col-md-3.sidebar ul {
    position: sticky;
    top: 0;
}

.col-md-3.shopping-cart {
    outline: 8px ridge orange;
    border-radius: 2rem;
    margin-top: 100px;
    overflow: auto;
    position: fixed;
    right: 5%;
    top: 5%;
    height: 600px;
}
.col-md-3.menu-categories {
    outline: 8px ridge orange;
    border-radius: 2rem;
    margin-top: 100px;
    overflow: auto;
    position: fixed;
    left: 5%;
    top: 5%;
    height: 600px;

}

.col-md-3.menu-categories ul {
    position: sticky;
    top: 0;
}

.col-md-6 {
    outline: 8px ridge orange;
    border-radius: 2rem;


    margin-left: 25%;

    max-width: 80%;
}

/* Add styles for the sticky footer */
.sticky-footer {
    position: fixed;
    bottom: 0; /* Show the footer initially at the bottom of the viewport */
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    transition: bottom 0.3s ease; /* Add a smooth transition effect */
}

h4 {
    margin-top: 20px;
}

/* Custom styles for the logo */
.navbar {
    background-color: black !important;
    border: 2px solid orange !important;
}
.navbar-brand{
    color: white!important;
}

.navbar-light .navbar-brand img {
    max-height: 40px !important; /* Adjust the height as needed */
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: darkorange !important;
}

